#route-mapping-control {
  overflow-y: scroll;
}

#route-mapping > #map-container {
  position: relative;
}

#route-mapping #map {
  height: 100%;
  width: 100%;
  min-height: 300px;
}

@media (max-width: 600px) {
  #route-mapping > #map-container {
    height: 400px;
  }
}

@media (min-width: 601px) {
  #route-mapping {
    height: 100%;
  }

  #route-mapping-control {
    height: 100%;
    min-width: calc(300px);
  }

  #route-mapping > #map-container {
    height: 100%;
    max-width: calc(100% - 300px);
  }
}

#route-mapping .route-points {
  margin-top: 10px;
  margin-bottom: 10px;
}

#route-mapping .input-field {
  margin-top: 5px;
}

#route-mapping .input-field input[type=text] {
  border-bottom: 1px solid white;
  color: white;
  margin-bottom: 0px;
}

#route-mapping .input-field label {
  color: white;
}

#route-mapping .input-field label.active {
  margin-left: 2.5rem;
  top: 10px;
}

#route-mapping .input-field input[type=text]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}

#route-mapping input.icon-prefix {
  width: 86%;
  width: calc(100% - 2.5rem);
  margin-left: 2.5rem;
}

#route-mapping i.prefix {
  width: 2.5rem;
  margin-top: 8px;
}

#route-mapping-control > .col.s12 {
  padding: 0 1.5rem;
}

.route-mapping-head {
  padding: 10px;
  margin: 0 !important;
}

.route-mapping-head > h5 {
  margin: 0 !important;
}

.route-mapping-head i {
  margin-right: 7px;
  vertical-align: top;
}

.route-mapping-buttons {
  margin-top: 10px;
  margin-bottom: 20px;
}

.route-mapping-buttons > a {
  width: 100%;
}

.route-orig-dest {
  width: calc(100% - 2.5rem - 45px) !important;
}

.route-stop {
  width: calc(100% - 2.5rem - 85px) !important;
}

.route-stop-icon {
  font-size: 20px !important;
  margin-left: 4px !important;
  margin-top: 12px !important;
}

.i-tag {
  transform: rotateZ(-45deg);
}

#map-help {
  z-index: 100;
  position: absolute;
  left: 50%;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  top: 5px;
  font-weight: bold;
  transform: translateX(-50%);
}

#modal-tags {
  width: 350px;
  height: 200px;
}

.route-input-modal input{
  border-bottom: 1px solid black !important;
  color: black !important;
  margin-bottom: 0px !important;
}

.route-input-modal input[type=text]:focus {
  border-bottom: 1px solid black !important;
  box-shadow: 0 1px 0 0 black !important;
}

.saved-route-points h6 {
  font-size: 16px;
  margin: 15px 0;
}

.saved-route-points h6 > span {
  font-weight: bold;
  font-size: 20px;
}